.logoPet {
    margin: auto;
    padding: 2rem 1rem;
    width: 80%;
}

.areaSelect {
    color: white;
    padding: 0 .5rem;

    h3 {
        font-size: 1rem;
        margin-bottom: .5rem;
        margin-top: 1.2rem;
    }

    .areaSection {
        display: block;

        a {
            padding: .5rem;
            width: 100%;
            text-decoration: none;
            color: white;
        }

        .areaLink {
            width: 100%;
            display: flex;
            padding: 0.2rem .5rem;
            margin: .4rem 0;
            &:hover {
                background-color: #757ff5;
            }

            svg {
                margin: auto .4rem;
                width: 15px;
            }
        }
    }

}