.CrudMenu {
    padding: 2rem;

    .botonCrud {
        margin-bottom: 1.5rem;
        float: right;
    }
    .notCrud{
        font-size: 1rem;
        text-align: center;
        margin-top: 1rem;
        font-weight: 800;
    }
    .accion{
        width: 100px;
    }
}